/*  */
* {
  margin: 0px;
  font-family: "Quicksand", sans-serif;
  scroll-behavior: smooth;
}

/* Navbar ------------------------------------------- */
.nav {
  width: 100%;
  background-color: rgb(179, 155, 202);
  position: relative;
}

.nav-header {
  display: inline;
}

.nav-title {
  display: flex;
  justify-content: center;
  font-size: 22px;
  color: black;
  padding: 10px;
}

.nav-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 17px;
}

.nav-links > a {
  display: inline-block;
  padding: 13px;
  text-decoration: none;
  color: white;
  transition: transform 1000ms;
}

.nav-links > a:hover {
  transform: translateY(-1.25rem);
  transition: transform 250ms;
}

/* Headline -----------------------------------------*/
.headline {
  width: 100%;
  height: 90px;
  min-width: 200px;
  background-size: cover;
  background-image: linear-gradient(
    to bottom,
    rgb(179, 155, 202),
    rgba(179, 155, 202, 0.476)
  );
}

.headline > h1,
.headline > p {
  text-align: center;
  color: white;
  font-size: xx-large;
}

.headline > h1 {
  padding: 0px 0px 10px 0px;
}

.container {
  background-image: linear-gradient(
    to top,
    rgb(179, 155, 202),
    rgba(179, 155, 202, 0.476)
  );
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10%;
}

.card {
  width: 250px;
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 5px 10px 10px rgba(159, 155, 161, 0.538);
  scroll-margin: 2rem;
}

.image {
  background-color: gainsboro;
  height: 200px;
  background-size: cover;
}

.face-card {
  background-image: url(https://cdn.discordapp.com/attachments/1080121071442858028/1085878217438666832/Dennis_Jensen_couple_looking_into_cameraholding_echeotherking_w_19f44fbd-a3f8-4248-99a2-f5c74ad7bd50.png);
  background-position: right;
}

.animal-card {
  background-image: url(https://cdn.discordapp.com/attachments/1080121071442858028/1086192703282348092/Dennis_Jensen_a_closeup_image_of_a_elephants_eye_and_ear_photo__928513cd-79e2-4db8-a0ae-a1f631557164.png);
  background-position: right;
}

.fantasy-card {
  background-image: url(https://cdn.discordapp.com/attachments/1080121071442858028/1086983228390391918/Dennis_Jensen_photorealisticforest_clearingwide_shotglowing_min_535ac9af-d279-4fbd-838f-585deeac652e.png);
  background-position: right;
}

.creature-card {
  background-image: url(https://cdn.discordapp.com/attachments/1080121071442858028/1101411537786253412/Dennis_Jensen_Create_an_image_of_a_mushroom_creature_with_expre_f2d02c28-391b-40ca-9fa4-5bb4c9acb7c8.png);
  background-position: right;
}

.background-card {
  background-image: url(https://cdn.discordapp.com/attachments/1087278956614529044/1115912440337674320/focusjuice_a_light_gray_website_background_c054d08d-7ffd-4d85-94da-2fecfe0ee634.png);
  background-position: right;
}

.realistic-card {
  background-image: url(https://cdn.discordapp.com/attachments/1080121071442858028/1087129527370661918/Dennis_Jensen_A_breathtaking_aurora_borealis_lighting_up_the_ni_6d5962c4-346d-4c0e-bae6-15bf6f1ff7da.png);
  background-position: right;
}

.content {
  margin: 10px;
  text-align: center;
  padding: 10px;
}

.content h3 {
  text-align: left;
}

.btn {
  background-color: rgba(205, 170, 205, 0.705);
  border: 2px, solid, black;
  color: black;
  margin-top: 10px;
  padding: 20px;
  font-weight: bold;
  text-align: center;
}

.btn:hover {
  background-color: white;
  transition: 0.3s;
  transform: scale(1.01);
}
